usrlocal
lib
VirtualBox VMs/
Videos/
Sites/
Projects/
Pictures/
Music/
Movies/
Library/
Gits/
Dropbox/
Downloads/
Documents/
Desktop/
Calibre Library/
Attachments/
Applications/
Applications alias
.zshrc
.zshenv
.zsh_history
.zsh-update
.zprofile
.zpreztorc
.zprezto/
.zlogout
.zlogin
.zhistory
.zcompdump.zwc
.zcompdump-tardis-5.0.7
.zcompdump*
.zcompdump
.z.p8UajO
.z.*
.z
.xsel.log
.xscreensaver
.virtualenvs/
.viminfo.tmp
.viminfo
.vim/undo/
.vim/lastupdate
.vim/bundle/
.vim/.netrwhist
.turbulence/
.tmp/
.timestat
.thumbnails/
.terminfo/
.subversion/
.state
.ssh/
.sqlite_history
.serverauth.19827
.rnd
.recently-used
.python_history
.pki/
.pip/
.php_history
.password-store/
.opera/
.oh-my-zsh/
.npm/
.mutttqi/
.muttrc
.mutt/
.mplayer/
.mozilla/
.mountdrive.sh
.mono/
.matplotlib/
.m2/
.local/
.lesshst
.lein/
.java/
.ipython/
.icons/
.hxcpp_config.xml
.hushlogin
.htoprc
.hplip/
.haxelib
.gstreamer-0.10/
.gnupg/
.gnome/
.gksu.lock
.gitconfig
.gimp-2.8/
.ghc/
.gem/
.fontconfig/
.emacs.d/
.dvdcss/
.drush/
.dropbox/
.dropbox-dist/
.dbus/
.dbshell
.cups/
.credentials
.config/
.cmus/*
.cache/
.cabal/
.bash_profile
.bash_history
.android/
.adobe/
.Xauthority
.Skype/
.DS_Store
.CFUserTextEncoding
*.pyc
.fetchmailrc
